<ion-view view-title="" name="login-view" hide-nav-bar="true" class="front-page-body">
    <ion-content class="padding">
        <div class="col col-60 col-offset-20">
            <div id="logo">
                <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <button class="button button-block button-sign-up" ng-click = "openModal()">Sign up &nbsp; ></button>
            <p class="sub-button">Sign up, it's free!</p>
            <div class="block-padding"> </div>
            <button class="button button-block button-log-in" ng-click="login()">Log in</button>
            <button class="button button-block button-log-in-fb" ng-click="login()"><i class="icon ion-social-facebook"></i> &nbsp; Log in Facebook</button>
        </div>
    </ion-content>
</ion-view>